<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OCR App</title>
</head>
<body>
    <h1>Subir una imagen para extraer texto    </h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="file">Elija un archivo de imagen:</label>
        <input type="file" id="file" name="file" accept="image/*" title="Choose an image file to upload">
        <button type="submit">Subir</button>
    </form>
</body>
</html>
